<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .login-container{
            margin-left: 30%;
            margin-top: 100px;
        }
        input{
            margin: 10px;
            width: 50%;
            font-size: large;
        }
        button{
            margin-left: 15%;
            margin-top: 20px;
            width: 20%;
            padding: 5px;
            font-size: large;
        }
        button:hover{
            cursor: pointer;
            background-color: blanchedalmond;
        }
        p{
            margin-left: 16%;
        }
        p a{
            margin: 15px;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1><u>Login</u></h1>
        <form action="/login" method="post">
            <input type="text" placeholder="email" name="email"> <br>
            <input type="text" placeholder="Password" name="password"> <br>
            <button type="submit">login</button>
        </form>
        <br><br>
        <p><a href="/">Home</a><a href="/signup">sigup first</a></p>
        
    </div>
</body>
</html>